<%- include('boilerplate/header'); -%>


<%- include('trackcard'); -%>

<!-- About -->
<div>
    <section class="container mx-auto px-6 p-10">
        <h2 class="text-5xl font-bold text-center text-gray-800 mb-8">
          Axeon 
        </h2>
        <center><p class="text-xl mb-10">📦Axeon Courier and Transportation Services Private Limited are founded by Vimal Singh and Babali Devi in the year 2021.<br/>Axeon Courier and Transportation Service Private Limited are one of the Best rising Courier and Transportation companies across India.<br/>It provides the best, reliable & fastest Courier and Transportation services all over India with the best experts team.</p></center>
        <div class="flex items-center flex-wrap mb-20">
          <div class="w-full md:w-1/2">
            <h4 class="text-3xl text-gray-800 font-bold mb-3">Promised Delivery</h4>
            <p class="text-gray-600 mb-8">🎇We Pledge to deliver your parcel always on time ! Just place the order and be tension free !<br/>🎇We provide same-day delivery up to 50 Km for objects up to 30 Kg of weight.</p>
          </div>
          <div class="w-full md:w-1/2">
            <img class="ml-32" src="../time.svg" width="300" height="300">
          </div>
        </div>
      
        <div class="flex items-center flex-wrap mb-20">
          <div class="w-full md:w-1/2">
            <img src="../us.png" width="350" height="350">
          </div>
          <div class="w-full md:w-1/2 pl-10">
            <h4 class="text-3xl text-gray-800 font-bold mb-3">Who we are ?</h4>
            <p class="text-gray-600 mb-8">🎇Axeon Courier and Transportation Services Private Limited are founded by Vimal Singh and Babali Devi in the year 2021.<br/>

              🎇Axeon Courier and Transportation Service Private Limited are one of the Best rising Courier and Transportation companies across India.<br/>
              
              🎇It provides the best, reliable & fastest Courier and Transportation services all over India with the best experts team. :)</p>
          </div>
        </div>
      
        <div class="flex items-center flex-wrap mb-20">
          <div class="w-full md:w-1/2">
            <h4 class="text-3xl text-gray-800 font-bold mb-3">Handeled with care</h4>
            <p class="text-gray-600 mb-8">🎇Your things are valuable for us , that's why your things are being secured by us . Extra packaging is provided for the extra protection.<br/>🎇 It provides a various payment method as COD, UPI, Net Banking Paytm, Credit and Debit card.</p>
          </div>
          <div class="w-full md:w-1/2">
            <img class="ml-32" src="../package.png" width="280" height="280">
          </div>
        </div>
      </section>
</div>


<%- include('boilerplate/footer'); -%>
