<!-- card -->
<div id="order-items" class="flex-wrap w-full sm:flex">
      
    

    
<!--  12 hours fast delivery  -->

      

      <div class="p-4 xl:w-1/2 w-full">
        <div class="h-full p-6 rounded-lg border-2 border-green-500 flex flex-col relative overflow-hidden">
          
            <form action="/order2" method="POST">  
          
          
          <span class="bg-green-500 text-white px-3 py-1 tracking-widest text-xs absolute right-0 top-0 rounded-bl">POPULAR</span>
          <h2 class="text-sm tracking-widest title-font mb-1 font-medium">EXPRESS</h2>
          <h1 class="text-5xl text-gray-900 leading-none flex items-center pb-4 mb-4 border-b border-gray-200">
            <span>12Hr</span>
            <span class="text-lg ml-1 font-normal text-gray-500">/within</span>
          </h1>

          

          <p class="flex items-center text-gray-600 mb-2">
            <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span> <span>Distance (in Km)</span> 
            <fieldset class="p-4"  >
              <div class="grid grid-cols-7  issue1">
                <input class="hidden" type="radio" id="d2_1" value="5km" name="distance2" checked/>
                <label class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-2 cursor-pointer rounded-l" for="d2_1">5Km</label>

                <input class="hidden" type="radio" id="d2_2" value="10km" name="distance2" />
                <label class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-2 cursor-pointer" for="d2_2">10Km</label>

                <input class="hidden" type="radio" id="d2_3" value="15km" name="distance2" />
                <label class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-2 cursor-pointer" for="d2_3">15Km</label>

                <input class="hidden" type="radio" id="d2_4" value="20km" name="distance2" checked/>
                <label class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-2 cursor-pointer" for="d2_4">20Km</label>

                <input class="hidden" type="radio" id="d2_5" value="30km" name="distance2" />
                <label class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-2 cursor-pointer" for="d2_5">30Km</label>

                <input class="hidden" type="radio" id="d2_6" value="40km" name="distance2" />
                <label class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-2 cursor-pointer" for="d2_6">40Km</label>

                <input class="hidden" type="radio" id="d2_7" value="50km" name="distance2" />
                <label class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-2 cursor-pointer rounded-r" for="d2_7">50Km</label>

              </div>
            </fieldset>
          </p>
         
          <p class="flex items-center text-gray-600 mb-2">
            <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>Weight

            <fieldset class="p-4">
              <div class="grid grid-cols-6">
                <input class="hidden" type="radio" id="w2_1" value="1kg" name="weight2" checked/>
                <label class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-2 cursor-pointer rounded-l" for="w2_1">Upto 1Kg</label>

                <input class="hidden" type="radio" id="w2_2" value="5kg" name="weight2" />
                <label class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-2 cursor-pointer" for="w2_2">1Kg-5kg</label>

                <input class="hidden" type="radio" id="w2_3" value="10kg" name="weight2" />
                <label class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-2 cursor-pointer" for="w2_3">5Kg-10kg</label>

                <input class="hidden" type="radio" id="w2_4" value="20kg" name="weight2" checked/>
                <label class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-2 cursor-pointer" for="w2_4">10Kg-20kg</label>

                <input class="hidden" type="radio" id="w2_6" value="20kg" name="weight2" checked/>
                <label class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-2 cursor-pointer" for="w2_6">20Kg-25kg</label>

                <input class="hidden" type="radio" id="w2_5" value="30kg" name="weight2" />
                <label class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-2 cursor-pointer rounded-r" for="w2_5">25Kg-30kg</label>
              </div>
            </fieldset>

          </p>
         
          
          
          
          <input name="del_time" class="hidden" type="text" value="12">
          <button class="flex items-center mt-auto text-white bg-green-500 border-0 py-2 px-4 w-full focus:outline-none hover:bg-green-600 rounded">Select
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-auto" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </button>
          
          
          
          <p class="text-xs text-gray-500 mt-3">Fastest Delivery Service in the City !</p>
        </div>


    </form>

      </div>

      <div class="p-4 xl:w-1/2 w-full">
        <div class="h-full p-6 rounded-lg border-2 border-indigo-500 flex flex-col relative overflow-hidden">
          
            <form action="/order1" method="POST">  
          
          <span class="bg-indigo-500 text-white px-3 py-1 tracking-widest text-xs absolute right-0 top-0 rounded-bl">POPULAR</span>
          <h2 class="text-sm tracking-widest title-font mb-1 font-medium">BASIC</h2>
          <h1 class="text-5xl text-gray-900 leading-none flex items-center pb-4 mb-4 border-b border-gray-200">
            <span>24Hr</span>
            <span class="text-lg ml-1 font-normal text-gray-500">/within</span>
          </h1>
          <p class="flex items-center text-gray-600 mb-2">
            <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>Distance

            <fieldset class="p-4">
              <div class="inline-flex">
                <input class="hidden" type="radio" id="d1_1" value="60km" name="distance1" checked/>
                <label class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-2 cursor-pointer rounded-l" for="d1_1">60-150km</label>

              </div>
            </fieldset>

          </p>
          <p class="flex items-center text-gray-600 mb-2">
            <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>Weight

            <fieldset class="p-4">
              <div class="grid grid-cols-6">
                <input class="hidden" type="radio" id="w1_1" value="1kg" name="weight1" checked/>
                <label class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-2 cursor-pointer rounded-l" for="w1_1">Upto 1Kg</label>

                <input class="hidden" type="radio" id="w1_2" value="5kg" name="weight1" />
                <label class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-2 cursor-pointer" for="w1_2">1Kg-5kg</label>

                <input class="hidden" type="radio" id="w1_3" value="10kg" name="weight1" />
                <label class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-2 cursor-pointer " for="w1_3">5Kg-10kg</label>

                <input class="hidden" type="radio" id="w1_4" value="20kg" name="weight1" checked/>
                <label class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-2 cursor-pointer " for="w1_4">10Kg-20kg</label>

                <input class="hidden" type="radio" id="w1_6" value="25kg" name="weight1" />
                <label class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-2 cursor-pointer" for="w1_6">20Kg-25kg</label>

                <input class="hidden" type="radio" id="w1_5" value="30kg" name="weight1" />
                <label class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-2 cursor-pointer rounded-r" for="w1_5">25Kg-30kg</label>
              </div>
            </fieldset>

          </p>
          
            
          <input name="del_time" class="hidden" type="text" value="24">
          <button class="flex items-center mt-auto text-white bg-indigo-500 border-0 py-2 px-4 w-full focus:outline-none hover:bg-indigo-600 rounded">Select
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-auto" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </button>
          
          
          <p class="text-xs text-gray-500 mt-3">Cheapest Price in the city !</p>
        
          </form>

        </div>
      </div>

    </div>

    


    <!--  -->



    <style>
      input:checked + label {background-color:grey;}
      .issue1{
        @media (max-width:400px) {
          margin-left:-20px;
        }
      }
    </style>