<%- include('boilerplate/header'); -%>

<main class="h-full p-10" style="background-color: rgb(38,33,35)" >
    <div class="w-full h-20 flex justify-center p-4">
        <div class="flex-col text-center w-full">
            <Refund class="text-white font-bold text-4xl capitalize">Refund Policy</p>
            <br>
    </div>
</main>
<div class="p-4 text-xl m-2">
<li>If not covered by special risk surcharges or insurance claim value on this consignor or consignee shall in no circumstances exceeds Rs 4000 for Parcel and Rs 1000 for Document.</li>
<li>If you claim for any electronic device then the company will only accept claims on physical fault for your parcels and not be responsible for any mechanical or functional fault for your parcel.</li>
<li>If you want to cancel your delivery, 

For Offline Booking: if you cancel your parcel after its delivery booking within 1 hour then the company will cut 50% of your total money for that parcel and return it to you.</li>
<li>If you cancel your parcel delivery after it's booking after 1 hour then the company will cut 100% of your money for that parcel and return it to you.</li>
<li>For Online Booking: if you cancel your parcel delivery after booking of parcels delivery within 30 minutes or half an hour then the company will cut NO money for your parcel and return it to you.
</li>
<li>But if you cancel your parcels delivery after it's booking after 30 minutes then the company will cut 100% percent of the money for that parcel and return it to you.</li>
</div>

<%- include('boilerplate/footer'); -%>