<!-- component -->
<header class="p-8">
  <!-- Section Hero -->
  <div class="bg-gray-300 py-14">
    <h1 class="mt-8 text-center text-5xl text-green-600 font-bold">Our More Services.</h1>

    <h3 class="text-2xl tracking-widest text-green-600 text-center">Ask for booking a personal truck.</h3>
    <!-- Box -->
    <div class="md:flex md:justify-center md:space-x-8 md:px-14">
      <!-- box-1 -->
      <div class="mt-16 py-4 px-4 bg-whit w-72 bg-white rounded-xl shadow-lg hover:shadow-xl transform hover:scale-110 transition duration-500 mx-auto md:mx-0">
        <div class="w-sm">
        <div class="flex justify-center items-center"><img class="w-48" src="./chota-hathi.png" alt="" /></div>
          <div class="mt-20 text-green-600 text-center">
            <h1 class="text-xl font-bold">Tata ace XL</h1>
            <p class="my-4 text-gray-600">For more information and query click on live chat option</p>
            <!-- <button class="mt-8 mb-4 py-3 px-8 rounded-full bg-green-600 text-white tracking-widest hover:bg-green-500 transition duration-200">MORE</button> -->
          </div>
        </div>
      </div>

      <!-- box-3 -->
      <div class="mt-16 py-4 px-4 bg-whit w-72 bg-white rounded-xl shadow-lg hover:shadow-xl transform hover:scale-110 transition duration-500 mx-auto md:mx-0">
        <div class="w-sm">
            <div class="flex justify-center items-center"><img class="w-64" src="./eicher.png" alt="" /></div>
          <div class="mt-4 text-green-600 text-center">
            <h1 class="text-xl font-bold">Mahendra pickup</h1>
            <p class="my-4 text-gray-600">For more information and query click on live chat option</p>
            <!-- <button class="mt-8 mb-4 py-3 px-8 rounded-full bg-green-600 text-white tracking-widest hover:bg-green-500 transition duration-200">MORE</button> -->
          </div>
        </div>
      </div>

      <!-- box-2 -->
      <div class="mt-16 py-4 px-4 bg-whit w-72 bg-white rounded-xl shadow-lg hover:shadow-xl transform hover:scale-110 transition duration-500 mx-auto md:mx-0">
        <div class="w-sm">

        <div class="flex justify-center items-center"><img class="w-64" src="./mahindra.png" alt="" /></div>
          <div class="mt-4 text-green-600 text-center">
            <h1 class="text-xl font-bold">Eicher dcm truck</h1>
            <p class="my-4 text-gray-600">For more information and query click on live chat option</p>
            <!-- <button class="mt-8 mb-4 py-3 px-8 rounded-full bg-green-600 text-white tracking-widest hover:bg-green-500 transition duration-200">MORE</button> -->
          </div>
        </div>
      </div>

      
    </div>
  </div>
</header>
