<%- include('boilerplate/header'); -%>
<main class="h-full p-10" style="background-color: rgb(38,33,35)" >
    <div class="w-full h-20 flex justify-center p-4">
        <div class="flex-col text-center w-full">
            <p class="text-white font-bold text-4xl capitalize">Terms and Conditions</p>
            <br>
    </div>
</main>
<!-- component -->
<div class="h-screen max-w-2xl mx-auto mt-24 mb-32 space-y-20">
    <div class="max-w-screen-md md:w-8/9 mx-auto">
      <div class="inline-flex flex-col mb-10 space-y-2 items-center justify-end flex-1 h-full p-4 bg-blue-800 rounded-xl">
     
        <p class="w-full pb-8 text-md tracking-wide leading-tight text-white">1. If not covered by special risks surcharge or insurance claim value on this consignor or consignee shall in no circumstances exceed Rs 4000 for parcel and   Rs 1000 for the document.</p>
       
      </div>
      <div class="inline-flex mb-10 flex-col space-y-3 items-center justify-end flex-1 h-full p-4 bg-blue-800 rounded-xl">
         
        <p class="w-full pb-8 text-md tracking-wide leading-tight text-white">2. No claim shall we entertain for cash, jewelry, Contrabands, passports, and instruments in Bearer form including undeclared item/value.</p>
           
      </div>
      <div class="inline-flex mb-10 flex-col space-y-2 items-center justify-end flex-1 h-full p-4 bg-blue-800 rounded-xl">
             
        <p class="w-full pb-8 text-md tracking-wide leading-tight text-white">3. Any statutory Tax or Levies shall be borne by the consignee or consignor on shipment till its dues are fully paid.</p>
               
      </div>
      <div class="inline-flex mb-10 flex-col space-y-2 items-center justify-end flex-1 h-full p-4 bg-blue-800 rounded-xl">
                         
        <p class="w-full pb-8 text-md tracking-wide leading-tight text-white">4. All materials prohibited by the government of India are undeliverable or prohibited.</p>
                   
      </div>
      <div class="inline-flex mb-10 flex-col space-y-2 items-center justify-end flex-1 h-full p-4 bg-blue-800 rounded-xl">
                     
        <p class="w-full pb-8 text-md tracking-wide leading-tight text-white">5. On giving wrong information for delivery or parcel or material is the only responsibility of consignor or consignee.</p>
                   
      </div>

      <div class="inline-flex mb-10 flex-col space-y-2 items-center justify-end flex-1 h-full p-4 bg-blue-800 rounded-xl">
                         
        <p class="w-full pb-8 text-md tracking-wide leading-tight text-white">6. If the Courier is not delivered due to the absence of the consignee or due to wrong information of your parcel or delivery address so it will not be considered the responsibility of the company and will be charged.</p>
                       
      </div>
                  
      </div>
        
      </div>
    </div>
    
    

<%- include('boilerplate/footer'); -%>